/* Profile section styling */
.container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;     /* Căn giữa theo chiều dọc */
    min-height: 80vh;       /* Chiều cao tối thiểu của container, ví dụ 100% chiều cao của viewport */
    padding: 10px;           /* Padding để không bị dính vào cạnh của viewport */
}
.profile {
    max-width: 800px;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;       /* Chiều rộng phần tử, có thể thay đổi theo nhu cầu */
}

.profile h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #333;
}

.profile-info {
    font-size: 1.5em;
    line-height: 1.6;
    color: #555;
}

.profile-info p {
    margin-bottom: 10px;
}

.profile-info strong {
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
/* Edit Profile section styling */
.edit-profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 170px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-profile h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.edit-profile form {
    display: flex;
    flex-direction: column;
}

.edit-profile label {
    margin-top: 10px;
    font-weight: bold;
}

.edit-profile input {
    padding: 10px;
    font-size: 1em;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.edit-profile .btn {
    margin-top: 20px;
}

.success {
    color: green;
}

.error {
    color: red;
}
